.WorkPage {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.button {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    position: absolute;
    z-index: 10;
}

.buttonTop {
    top: 0px
}

.buttonBottom {
    bottom: 0px;
}

.actionButton {
    outline: none;
    border: 0;
    cursor: pointer;
    background-color: var(--background-secondary);
    border-radius: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: -20px;
    width: 50px; 
    height: 50px;
}

.actionButtonTop {
    top: -20px;
}

.actionButtonBottom {
    bottom: -20px;
}

.iconActionButton {
    color: var(--optional);
    font-size: 28px;
    position: absolute;
}

.icon__load {
    color: transparent;
}

.workSlide {
    width: 100%;
    height: 100%;
    margin: 0;
    transition: height 0.2s;
    border: 20px solid var(--background-secondary);
    background-size: cover;
    background-position: center center;
    background-blend-mode: saturation;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.workSlide__load {
    background-color: var(--background-secondary);
}

.workSlideReduce {
    height: 100%;
    transition: height 0.2s;
}

.navButton {
    position: absolute;
    z-index: 1;
    background-color: var(--background-secondary);
    width: 42px; 
    height: 42px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--optional);
}

.iconNavigation {
    transform: rotate(-45deg);
    font-size: 18px;
}

.navLeft {
    left: -21px;
}

.navRight {
    right: -21px;
}

.wrapper {
    width: 100%;
    height: 100%;
    border: 30px solid;
    border-image-slice: 1;
    opacity: 0.8;
    padding: 10px;
    position: relative;
    transition: 0.2s;
    opacity: 1;
}

.wrapper__load {
    border: 30px solid var(--background-primary);
}

.optionalBack {
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.optionalBack__load {
    background-color: var(--background-primary);
    opacity: 0.8;
    animation: fading 1s infinite;
}

.backGradient{
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.backGradient__load {
    background-color: var(--background-primary);
    opacity: 0.8;
    animation: fading 1s infinite;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
}

.view__load {
    opacity: 0;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background-secondary);
    padding: 30px;
    height: 100%;
    position: relative;
}

.mockup {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
}

.close {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    z-index: 1;
}

.closeButton {
    color: var(--background-secondary);
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    display: flex;
}

.details {
    width: 100%;
    margin: 0;
    position: relative;
    display: flex;
    transition: 0.2s;
    padding:0 15px 10px 15px;
}

.detailsReduce {
    height: 0;
    padding: 0;
    transition: 0.2s;
    overflow: hidden;
}


.tools {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.tool {
    margin: 0;
    background-color: var(--background-primary);
    color: var(--optional);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.iconTag {
    margin-right: 10px;
}

@keyframes fading {
    0% {
      opacity: .5;
    }
    
    50% {
      opacity: .8;
    }
    
    100% {
      opacity: .5;
    }
  }

@media screen and (max-height: 450px) {

    .WorkPage {
        height: 100vh;
    }

}

@media (min-width: 640px) and (min-height: 560px) {

    .WorkPage {
        height: 100vh;
    }

    .WorkPage__vertical {
        display: none;
    }
    
    .workSlide {
        border: 30px solid var(--background-secondary);
    }

    .actionButton {
        right: -25px;
    }

    .actionButtonTop {
        top: -25px;
    }

    .actionButtonBottom {
        bottom: -25px;
    }

    .details {
        padding:0 30px 25px 30px;
    }

    .detailsReduce {
        padding: 0;
    }

    .wrapper {
        padding: 15px;
        border: 40px solid;
        border-image-slice: 1;
    }

    .wrapper__load {
        border: 40px solid var(--background-primary);
    }

    .content {
        padding: 40px;
    }

    .mockup {
        background-size: contain;
    }

}

@media screen and (min-width: 1024px) { 
    
    .WorkPage__vertical {
        display: flex;
    }

}
