.Contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.2s;
}

.Contact__hide {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: 0.2s;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 15px 15px 30px 15px;
}

.title {
    margin: 0 10px 10px 10px;
    font-size: 1.5rem;
}

.text {
    margin: 0 0px 10px 0px;
    font-size: 0.8rem;
    color: #3a3837;
    display: flex;
    text-decoration: none;
}

.infos {
    border-bottom: 1px dashed #d1d6da;
    margin: 0 10px 5px 10px;
    padding-bottom: 5px;
}

.icontText {
    margin-right: 10px;
    color: #33B0CB;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:5px 5px 0 5px;
}

.inputSimple {
    display: flex;
    width: 100%;
    padding:5px 5px 0 5px;
}

.input {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #EAEFF2;
    padding: 10px;
    font-size: 12px;
    margin:5px 5px 0 5px;
    flex:1 1 auto;
    width: 100%;
    outline: none;
    border: 1px solid #d1d6da;
    border-radius: 2px;
}

.button {
    background-color: #33B0CB;
    color: #ffffff;
    font-weight: 800;
    margin: 10px 5px;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    padding: 0px 15px;
    line-height: 35px;
    font-size: 12px;
    width: 100%;
}

.iconButton {
    margin-right: 10px;
}

@media (min-width: 640px) and (min-height: 560px) {

    .Contact {
        height: 100vh;
        width: 50%;
        transition: 0.2s;
    }

    .form {
        background-color: #EAEFF2;
        border-left: 5px dashed #ffffff;
        padding: 30px 25px;
    }

    .input {
        background-color: #ffffff;
    }

}

@media screen and (min-width: 1024px) { 

    .Contact {
        width: 35%;
        transition: 0.2s;
    }

}

@media screen and (max-height: 450px) {

    .Contact {
        width: 100%;
    }

}