.Contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.2s;
    background-color: #ffffff;
    padding: 0 25px;
}

.Contact__hide {
    display: none;
}

.closeContact {
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding: 0px 15px 15px 0;   
    outline: none;
    border: 0;
    background-color: transparent; 
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    color: #8e8e8e;
    font-weight: 800;
}

.iconCloseContact {
    margin-right: 5px;
    font-size: 15px;
}

.social {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.socialWrapper {
    margin: 0 4px;
    background-color: #3a3837;
    padding: 10px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.socialIcon {
    color: #ffffff;
    font-size: 14px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 0;
    width: 100%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:5px 0 0 0;
}

.inputSimple {
    display: flex;
    width: 100%;
    padding:5px 0 0 0;
}

.label {
    display: flex;
    flex-direction: column;
    width: auto;
    color: #3a3837;
    font-size: 12px;
    margin:0px 5px 5px 5px;
    padding:0;
    flex:1 1 auto;
    width: 100%;
    outline: none;
}

.labelText {
    margin: 0 0 5px 0;
    color: #8e8e8e;
}

.required {
    margin:0 3px;
    color: #33B0CB;
}

.input {
    display: flex;
    flex-direction: column;
    width: auto;
    color: #3a3837;
    background-color: #EAEFF2;
    padding: 10px;
    font-size: 12px;
    margin: 0;
    flex:1 1 auto;
    width: 100%;
    outline: none;
    border: 1px solid #d1d6da;
    border-radius: 2px;
}

.button {
    background-color: #33B0CB;
    color: #ffffff;
    font-weight: 800;
    margin: 0px 5px 10px 5px;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    padding: 10px 15px;
    font-size: 12px;
    width: 100%;
}

.iconButton {
    margin-right: 10px;
}

.labelCheckbox {
    display: flex;
    margin: 0 5px;
    padding: 10px 0;
    font-size: 12px;
    color: #8e8e8e;
}

.checkbox {
    margin-right: 5px;
}

.buttonTerms {
    color: #33B0CB;
    margin-left: 5px;
    text-decoration: none;
    outline: none;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

@media (min-width: 640px) and (min-height: 560px) {

    .Contact {
        height: 100vh;
        width: 50%;
        transition: 0.2s;
        border-left: 5px dashed #ffffff;
        background-color: #EAEFF2;
        background-image: linear-gradient(90deg, rgb(227, 232, 235) 3%, #EAEFF2 70%);
    }

    .closeContact {
        display: flex;
    }

    .form {
        margin-top: 0;
    }

    .input {
        background-color: #ffffff;
    }

}

@media screen and (min-width: 1024px) { 

    .Contact {
        width: 35%;
        transition: 0.2s;
    }

}

@media screen and (max-height: 450px) {

    .Contact {
        width: 100%;
    }

}