.Footer {
    border-top: 1px solid var(--lighter);
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 30px;
    background-color: var(--background-secondary);
}

.text {
    color: var(--optional);
    font-size: 0.7rem;
    margin: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.button {
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: none;
    background-color: transparent;
    text-transform: uppercase;
    padding: 0 0 0 3px;
    cursor: pointer;
}

.buttonIcon {
    color: var(--optional);
    font-size: 13px;
    margin-left: 7px;
    margin-right: 2px;
    margin-top: -2px;
}

@media (min-width: 640px) and (min-height: 560px) {

    .Footer {
        margin: 0;
    }

}