*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    background-color: var(--background-secondary);
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.fail {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

@media (min-width: 640px) and (min-height: 560px) {

    body {
        overflow: hidden;
    }

}
