.Header {
    height: auto;
    min-height: 175px;
    width: 100%;
    background: #EAEFF2;
    border-right: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.logoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.logo {
    width: 70px;
    height: 70px;
    min-height: 70px;
    background: #ffffff;
    border-radius: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.iconLogo {
    background-color: #ffffff;
    color: #33B0CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 13px;
}

.title {
    font-size: 0.7rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #3a3837;
    margin-top: 5px;
    margin-bottom: 15px;
}

.nav {
    display: flex;
    background: white;
    width: 100%;
}


.list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #d1d6da;
    padding: 10px auto;
    width: 100%;
}

.item:last-child {
    border-right: 0;
}

.link {
    font-size: 0.7rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .5s ease;
    color: #8e8e8e;
    line-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.linkActive {
    color: #3a3837;
}

.linkActive::before {
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    background-color: #33B0CB;
    border-radius: 100%;
    margin-right: 0.3rem;
}

.social {
    display: none;
}

@media (min-width: 640px) and (min-height: 560px) {

    .Header {
        width: 110px;
        height: 100vh;  
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid #ededed;
    }

    .logo {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .title {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .nav {
        transform: rotate(-90deg);
        background: none;
        width: auto;
    }

    .list {
        flex-direction: row-reverse;
        justify-content: initial;
        width: auto;
    }

    .item {
        padding: 0 30px;
        width: auto;
    }

    .item:first-child {
        border-right: 0;
    }

    .item:last-child {
        border-right: 1px solid #d1d6da;
    }

    .link {
        line-height: 1.2rem;
    }

    .link:hover {
        color: #3a3837;
    }

    .link::after {
        content: "";
        width: 0;
        height: 2px;
        background-color: #33B0CB;
        position: absolute;
        top: 1.2rem;
        left: 0;
        transition: 0.3s;
    }

    .link:hover::after {
        width: 100%;
    }
    

    .linkActive::after {
        width: 100%;
    }

    .linkActive::before {
        display: none;
    }

    .social {
        background: white;
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 0.7rem;
        font-weight: 400;
        text-transform: uppercase;
        transition: color .5s ease;
        color: #8e8e8e;
        transform: rotate(-90deg);
        white-space: nowrap;
    }


    .social__wrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .social__wrapper::before {
        position: relative;
        content: "";
        height: 20px;
        width: 1px;
        background: #d1d6da;
        margin-bottom: 10px;
    }

    .social__link {
        padding: 5px;
        text-decoration: none;
        color: #33B0CB;
    }

}
