.Heading {
    padding: 40px 30px;
    color: #3a3837;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Heading__title {
    display: none;
}

.Heading__count {
    color: #33B0CB;
    margin-right: 5px;
}

.Heading__filters {
    font-weight: 400;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.link {
    border-right: 1px solid #d1d6da;
    padding: 0 8px;
    color: #3a3837;
    text-decoration: none;
    letter-spacing: 1px;
}

.link:first-child {
    margin-left: 3px;
}

.link:last-child {
    border-right: 0;
}

.activeLink {
    color: #33B0CB;
}

@media screen and (min-width: 640px) {

    .Heading {
        justify-content: space-between;
    }

    .Heading__title {
        display: block;
        font-weight: 800;
        font-size: 0.9rem;
    }

}
