.Heading {
    padding: 40px 30px;
    color: var(--secondary-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Heading__title {
    display: none;
}

.Heading__count {
    color: var(--primary-light);
    margin-right: 5px;
}

.Heading__filters {
    font-weight: 400;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.button {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-bottom:0;
    border-right: 1px solid var(--lighter-light);
    padding: 0 8px;
    background-color: transparent;
    cursor: pointer;
    color: var(--secondary-light);
    text-decoration: none;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.button:first-child {
    margin-left: 3px;
}

.button:last-child {
    border-right: 0;
}

.active {
    color: var(--primary-light);
}

@media (min-width: 640px) and (min-height: 560px) {

    .Heading {
        justify-content: space-between;
    }

    .Heading__title {
        display: block;
        font-weight: 800;
        font-size: 0.9rem;
    }

}
