.Layout {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.containerReduce {
    display: none;
    z-index: 1;
}

@media screen and (max-height: 450px) {

    .Layout {
        height: auto;
    }

}

@media (min-width: 640px) and (min-height: 560px) {

    .Layout {
        flex-direction: row;
        height: 100vh;
    }

    .container {
        overflow-y: scroll;
        height: 100vh;
    }

    .containerReduce {
        display: flex;
        width: 50%;
        transition: 0.2s;
    }

}

@media screen and (min-width: 1024px) { 

    .containerReduce {
        width: 65%;
        transition: 0.2s;
    }

}