.Layout {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 640px) {

    .Layout {
        height: 100vh;
        flex-direction: row;
        overflow: hidden;
    }

    .container {
        overflow-y: scroll;
    }

}
