.Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Page p {
    text-transform: uppercase;
}

.Page a {
    color: var(--primary);
}