.Terms {
    display: flex;
    flex-direction: column;
    height: auto;
    color: var(--secondary-light);
    font-size: 0.8rem;
    overflow: hidden;
    padding: 0 30px 0 30px;
}

.title {
    font-size: 1.3rem;
    margin: 30px 0 10px 0;
    border-bottom: 1px dashed var(--lighter-light);
    padding-bottom: 15px;
}

.subTitle {
    font-size: 0.9rem;
    margin: 10px 0;
}

.text {
    margin: 5px 0;
}

@media (min-width: 640px) and (min-height: 560px) {

    .Terms {
        height: 100%;
        overflow-y: scroll;
    }

    .title {
        margin: 0px 5px 15px 5px;
    }

}