.light {
    /* LIGHT MODE */
    --primary: #33B0CB;
    --secondary: #3a3837;
    --optional: #8e8e8e;
    --lighter: #d1d6da;
    --background-primary: #EAEFF2;
    --background-primary-shadow: rgb(227, 232, 235);
    --background-secondary: #ffffff;
}

/* DARK MODE */
.dark {
    --primary: #33B0CB;
    --secondary: #dedede;
    --optional: #AAB7C2;
    --lighter: #000000;
    --background-primary: #2C2C2F;
    --background-primary-shadow: rgb(39, 39, 41);
    --background-secondary: #222222;
}

/* DARK MODE DEFAULT */
@media (prefers-color-scheme: dark) {

    .ligth {
        --primary: #33B0CB;
        --secondary: #dedede;
        --optional: #AAB7C2;
        --lighter: #262626;
        --background-primary: #2C2C2F;
        --background-primary-shadow: rgb(39, 39, 41);
        --background-secondary: #3E3F44;
    }

}
