.works {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 0 10px;
    opacity: 1;
    background-color: var(--background-secondary);
    transition: 0.2s;
}

.works__load {
    opacity: 0;
    transition: 0.2s;
}

@media (min-width: 640px) and (min-height: 560px) {

    .works {
        padding: 0 15px;
    }

}
