.works {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding: 0 10px;
}

@media screen and (min-width: 640px) {

    .works {
        padding: 0 15px;
    }

}
