.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    height: 100%;
}

.title {
    font-size: 1.3rem;
    margin: 30px 5px 15px 5px;
    border-bottom: 1px dashed var(--lighter);
    padding-bottom: 15px;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:5px 0 0 0;
    position: relative;
}

.inputSimple {
    display: flex;
    width: 100%;
    padding:5px 0 0 0;
    position: relative;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    color: var(--secondary);
    font-size: 12px;
    margin:0px 5px 5px 5px;
    padding:0;
    width: 100%;
}

.labelText {
    margin: 0 0 5px 0;
    color: var(--optional);
}

.required {
    margin:0 3px;
    color: var(--primary);
}

.input {
    display: flex;
    flex-direction: column;
    width: auto;
    color: var(--secondary);
    background-color: var(--background-primary);
    padding: 10px;
    font-size: 12px;
    margin: 0;
    flex:1 1 auto;
    width: 100%;
    outline: none;
    border: 1px solid var(--lighter);
    border-radius: 2px;
}

.button {
    background-color: var(--primary);
    color: var(--background-secondary);
    font-weight: 800;
    margin: 0px 5px 10px 5px;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    padding: 10px 15px;
    font-size: 12px;
    width: 100%;
}

.iconButton {
    margin-right: 10px;
}

.labelCheckbox {
    display: flex;
    margin: 0 5px;
    padding: 10px 0;
    font-size: 12px;
    color: var(--optional);
}

.checkbox {
    margin-right: 5px;
}

.buttonTerms {
    color: var(--primary);
    margin-left: 5px;
    text-decoration: none;
    outline: none;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

@media (min-width: 640px) and (min-height: 560px) {

    .form {
        margin-top: 0;
    }

    .input {
        background-color: var(--background-secondary);
    }

}