.text {
    margin: 5px;
}

.list {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 15px 5px;
    padding: 0;
}

.item {
    color: var(--primary);
    list-style: none;
}
