.Header {
    height: auto;
    min-height: 175px;
    width: 100%;
    background: var(--background-primary);
    border-right: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.logoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.logo {
    width: 70px;
    height: 70px;
    min-height: 70px;
    border-radius: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.iconLogo {
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 13px;
}

.title {
    font-size: 0.7rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--secondary);
    margin-top: 5px;
    margin-bottom: 15px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    background: var(--background-secondary);
    width: 100%;
}

.list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--lighter);
    padding: 10px auto;
    width: 100%;
}

.item:last-child {
    border-right: 0;
}

.link {
    font-size: 0.7rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .5s ease;
    color: var(--optional);
    line-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    outline: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.linkActive {
    color: var(--secondary);
}

.linkActive::before {
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--primary);
    border-radius: 100%;
    margin-right: 0.3rem;
}

.headerBottom {
    display: none;
}

.Linkedin {
    display: none;
}

@media (min-width: 640px) and (min-height: 560px) {

    .Header {
        width: 110px;
        height: 100vh;  
        min-height: auto;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid var(--lighter);
    }

    .logo {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .title {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .wrapper {
        flex-direction: column;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        transform: rotate(-90deg);
        background: none;
    }

    .list {
        flex-direction: row-reverse;
        justify-content: initial;
        width: auto;
    }

    .item {
        padding: 0 30px;
        width: auto;
    }

    .item:first-child {
        border-right: 0;
    }

    .item:last-child {
        border-right: 1px solid var(--lighter);
    }

    .link {
        line-height: 1.2rem;
    }

    .link:hover {
        color: var(--secondary);
    }

    .link::after {
        content: "";
        width: 0;
        height: 2px;
        background-color: var(--primary);
        position: absolute;
        top: 1.2rem;
        left: 0;
        transition: 0.3s;
    }

    .link:hover::after {
        width: 100%;
    }
    

    .linkActive::after {
        width: 100%;
    }

    .linkActive::before {
        display: none;
    }

    .headerBottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    .Linkedin {
        background: var(--background-secondary);
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--lighter);
        border-bottom: 1px solid var(--lighter);
    }

    .LinkedinText {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 0.7rem;
        font-weight: 400;
        text-transform: uppercase;
        transition: color .5s ease;
        color: var(--optional);
        transform: rotate(-90deg);
        white-space: nowrap;
    }


    .LinkedinWrapper {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .LinkedinWrapper::before {
        position: relative;
        content: "";
        height: 20px;
        width: 1px;
        background: var(--lighter);
        margin-bottom: 10px;
    }

    .LinkedinButton {
        padding: 5px;
        text-decoration: none;
        color: var(--primary);
        border: 0;
        outline: none;
        cursor: pointer;
        background-color: transparent;
    }

    .LinkedinIcon {
        font-size: 1rem;
    }

    .switchThemeButton {
        background-color: var(--background-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: 0;
        cursor: pointer;
        height: 100%;
        width: 50px;
        height: 38px;
        width: 100%;
    }

    .switchThemeIcon {
        color: var(--secondary);
        font-size: 0.9rem;
        transition: 0.2s;
        transform: rotate(360deg);
    }

    .switchThemeIcon__dark {
        transition: 0.2s;
        transform: rotate(0deg);
    }

}
