.PageLayout {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    font-weight: 400;
    background-color: var(--background-secondary);
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.wrapper__vertical {
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.container__reduce {
    z-index: 1;
    position: relative;
}

@media screen and (max-height: 450px) {

    .PageLayout {
        height: auto;
    }

}

/* TABLET */

@media (min-width: 640px) and (min-height: 560px) {

    .PageLayout {
        flex-direction: row;
        height: 100vh;
    }

    .wrapper {
        flex-direction: row;
    }

    .wrapper__vertical {
        flex-direction: column;
    }

    .container {
        overflow-y: scroll;
        height: 100vh;
    }

    .container__reduce {
        display: flex;
        min-width: 50%;
        transition: 0.2s;
    }

    .container__vertical {
        width: 100%;
        height: auto;
        transition: 0s;
    }

}

/* DESKTOP */

@media screen and (min-width: 1024px) { 

    .PageLayout {
        height: 100vh;
    }

    .wrapper__vertical {
        flex-direction: row;
    }

    .container {
        height: 100%;
    }
    
    .container__reduce {
        width: 65%;
        transition: 0.2s;
    }

}

/* MIN HEIGHT */

@media (max-height: 560px) {

    .wrapper__vertical {
        flex-direction: column;
    }

    .container__reduce {
        width: 100%;
    }
}
