.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative;
    padding: 20px 30px 20px 0;
    background-color: var(--background-secondary);
}

.CloseButton {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    outline: none;
    border: 0;
    cursor: pointer;
    color: var(--optional);
    font-size: 10px;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none;
}

.CloseButton:hover {
    color: var(--secondary);
    transition: 0.2s;
}

.icon {
    font-size: 24px;
    margin-bottom: 5px;
}

.wrapper__full {
    display: none;
}


/* MIN HEIGHT */

@media (max-height: 560px) {

    .wrapper {
        background-color: var(--background-primary);
        border-top: 1px solid var(--background-secondary);
    }

}


/* TABLET */

@media (min-width: 640px) and (min-height: 560px) {

    .wrapper {
        background-color: var(--background-primary);
        border-top: 0px;
        padding: 20px 30px 5px 0;
    }

    .wrapper__hide {
        display: none;
    }

}

/* DESKTOP */

@media screen and (min-width: 1024px) { 

    .wrapper {
        display: flex;
    }

}
