.CloseButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    outline: none;
    border: 0;
    cursor: pointer;
    background-color: var(--background-secondary);
    width: 100%;
    position: relative;
    padding: 20px 30px 20px 0;
    color: var(--optional);
    font-size: 10px;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none;
}

.CloseButton:hover {
    color: var(--secondary);
    transition: 0.2s;
}

.icon {
    font-size: 24px;
    margin-bottom: 5px;
}

.CloseButton__hide {
    display: none;
}

@media (min-width: 640px) and (min-height: 560px) {

    .CloseButton {
        background-color: var(--background-primary);
        padding: 20px 30px 5px 0;
    }

    .CloseButton__hide {
        display: none;
    }

}

@media screen and (min-width: 1024px) { 

    .CloseButton {
        display: flex;
    }

}
